<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Title Page -->
    <title>Sing Up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="resources/styles.css">





</head>

<body>
    <div class="container">
        <h1>Sing Up</h1>

        <form action="/registro" method="POST">
            <div class="input-container">

                <!--user-->
                <i class="fa fa-user icon"></i>
                <input type="text" name="user" id="user" class="input-field" placeholder="Usuario" required>
            </div>
            <br>
            <div class="input-container">

                <!--name-->
                <i class="fa fa-user icon"></i>
                <input type="text" name="name" id="name" class="input-field" placeholder="nombre completo" required>



            </div>
            <br>
            <div class="input-container">

                <!--date-->
                <i class="fa fa-calendar icon"></i>

                <input id="date" name="date" type="date">

            </div>
            <br>
            <div class="input-container">
                <!--mail-->

                <i class="fa fa-user-circle icon"></i>
                <input type="text" name="mail" id="mail" class="input-field" placeholder="Correo" required>
            </div>
            <br>
            <!-- Password -->
            <div class="input-container">

                <i class="fa fa-key icon"></i>
                <input type="password" name="pass" id="pass" class="input-key" placeholder="Contraseña" required>
            </div>


            <input type="submit" class="btn-register" value="Sing Up">

        </form>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>,

            }).then(() => {
                window.location = '/ <%= ruta %>'
            })
        </script>
        <% } %>
</body>

</html>